In [48]:
import matplotlib
matplotlib.use('Agg')
from datascience import Table
%matplotlib inline
import matplotlib.pyplot as plt
import numpy as np
plt.style.use('fivethirtyeight')

from datascience.predicates import are

/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py:2: UserWarning:
This call to matplotlib.use() has no effect because the backend has already
been chosen; matplotlib.use() must be called *before* pylab, matplotlib.pyplot,
or matplotlib.backends is imported for the first time.

The backend was *originally* set to 'module://ipykernel.pylab.backend_inline' by the following code:
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/runpy.py", line 193, in _run_module_as_main
    "__main__", mod_spec)
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/runpy.py", line 85, in _run_code
    exec(code, run_globals)
  File "/usr/local/lib/python3.6/site-packages/ipykernel_launcher.py", line 16, in <module>
    app.launch_new_instance()
  File "/usr/local/lib/python3.6/site-packages/traitlets/config/application.py", line 658, in launch_instance
    app.start()
  File "/usr/local/lib/python3.6/site-packages/ipykernel/kernelapp.py", line 486, in start
    self.io_loop.start()
  File "/usr/local/lib/python3.6/site-packages/tornado/platform/asyncio.py", line 127, in start
    self.asyncio_loop.run_forever()
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/asyncio/base_events.py", line 421, in run_forever
    self._run_once()
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/asyncio/base_events.py", line 1425, in _run_once
    handle._run()
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/asyncio/events.py", line 126, in _run
    self._callback(*self._args)
  File "/usr/local/lib/python3.6/site-packages/tornado/platform/asyncio.py", line 117, in _handle_events
    handler_func(fileobj, events)
  File "/usr/local/lib/python3.6/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 450, in _handle_events
    self._handle_recv()
  File "/usr/local/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 480, in _handle_recv
    self._run_callback(callback, msg)
  File "/usr/local/lib/python3.6/site-packages/zmq/eventloop/zmqstream.py", line 432, in _run_callback
    callback(*args, **kwargs)
  File "/usr/local/lib/python3.6/site-packages/tornado/stack_context.py", line 276, in null_wrapper
    return fn(*args, **kwargs)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 283, in dispatcher
    return self.dispatch_shell(stream, msg)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 233, in dispatch_shell
    handler(stream, idents, msg)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/kernelbase.py", line 399, in execute_request
    user_expressions, allow_stdin)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/ipkernel.py", line 208, in do_execute
    res = shell.run_cell(code, store_history=store_history, silent=silent)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/zmqshell.py", line 537, in run_cell
    return super(ZMQInteractiveShell, self).run_cell(*args, **kwargs)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2662, in run_cell
    raw_cell, store_history, silent, shell_futures)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2785, in _run_cell
    interactivity=interactivity, compiler=compiler, result=result)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2903, in run_ast_nodes
    if self.run_code(code, result):
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2963, in run_code
    exec(code_obj, self.user_global_ns, self.user_ns)
  File "<ipython-input-1-dc74e51e66af>", line 4, in <module>
    get_ipython().run_line_magic('matplotlib', 'inline')
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 2131, in run_line_magic
    result = fn(*args,**kwargs)
  File "<decorator-gen-107>", line 2, in matplotlib
  File "/usr/local/lib/python3.6/site-packages/IPython/core/magic.py", line 187, in <lambda>
    call = lambda f, *a, **k: f(*a, **k)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/magics/pylab.py", line 99, in matplotlib
    gui, backend = self.shell.enable_matplotlib(args.gui)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/interactiveshell.py", line 3051, in enable_matplotlib
    pt.activate_matplotlib(backend)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/usr/local/lib/python3.6/site-packages/matplotlib/pyplot.py", line 233, in switch_backend
    _backend_mod, new_figure_manager, draw_if_interactive, _show = pylab_setup()
  File "/usr/local/lib/python3.6/site-packages/matplotlib/backends/__init__.py", line 62, in pylab_setup
    [backend_name], 0)
  File "/usr/local/lib/python3.6/site-packages/ipykernel/pylab/backend_inline.py", line 165, in <module>
    _enable_matplotlib_integration()
  File "/usr/local/lib/python3.6/site-packages/ipykernel/pylab/backend_inline.py", line 155, in _enable_matplotlib_integration
    activate_matplotlib(backend)
  File "/usr/local/lib/python3.6/site-packages/IPython/core/pylabtools.py", line 311, in activate_matplotlib
    matplotlib.pyplot.switch_backend(backend)
  File "/usr/local/lib/python3.6/site-packages/matplotlib/pyplot.py", line 231, in switch_backend
    matplotlib.use(newbackend, warn=False, force=True)
  File "/usr/local/lib/python3.6/site-packages/matplotlib/__init__.py", line 1410, in use
    reload(sys.modules['matplotlib.backends'])
  File "/usr/local/Cellar/python3/3.6.0/Frameworks/Python.framework/Versions/3.6/lib/python3.6/importlib/__init__.py", line 166, in reload
    _bootstrap._exec(spec, module)
  File "/usr/local/lib/python3.6/site-packages/matplotlib/backends/__init__.py", line 16, in <module>
    line for line in traceback.format_stack()

In [60]:
costs_1 = Table.read_table('costs/outputs-astar-15.csv')
costs_2 = Table.read_table('costs/outputs-dijsktra-greedy.csv')

In [61]:
costs_1

output_dir       | output_filename | travel_cost | conquer_cost | cost
outputs-astar-15 | 0.out           | 16          | 51           | 67
outputs-astar-15 | 195.out         | 0           | 1e+09        | 1e+09
outputs-astar-15 | 2.out           | 40          | 1            | 41
outputs-astar-15 | 216.out         | 4           | 4            | 8
outputs-astar-15 | 217.out         | 4           | 4            | 8
outputs-astar-15 | 218.out         | 4           | 4            | 8
outputs-astar-15 | 251.out         | 12          | 23           | 35
outputs-astar-15 | 259.out         | 5605        | 5            | 5610
outputs-astar-15 | 270.out         | 15          | 20           | 35
outputs-astar-15 | 271.out         | 68          | 3            | 71
... (27 rows omitted)

In [62]:
costs_2

output_dir              | output_filename | travel_cost | conquer_cost | cost
outputs-dijsktra-greedy | 0.out           | 66          | 41           | 107
outputs-dijsktra-greedy | 1.out           | 194         | 52           | 246
outputs-dijsktra-greedy | 10.out          | 305.62      | 351.85       | 657.47
outputs-dijsktra-greedy | 100.out         | 403864      | 27704        | 431568
outputs-dijsktra-greedy | 101.out         | 324         | 1            | 325
outputs-dijsktra-greedy | 105.out         | 2.41584e+07 | 1.48975e+07  | 3.90559e+07
outputs-dijsktra-greedy | 106.out         | 4.46618e+07 | 2.97175e+07  | 7.43793e+07
outputs-dijsktra-greedy | 107.out         | 1.23333e+07 | 6.44751e+06  | 1.87808e+07
outputs-dijsktra-greedy | 108.out         | 13308.1     | 3376.05      | 16684.2
outputs-dijsktra-greedy | 109.out         | 10799.8     | 1880.66      | 12680.5
... (694 rows omitted)

In [63]:
costs_1.join('output_filename', costs_2)

output_filename | output_dir       | travel_cost | conquer_cost | cost  | output_dir_2            | travel_cost_2 | conquer_cost_2 | cost_2
0.out           | outputs-astar-15 | 16          | 51           | 67    | outputs-dijsktra-greedy | 66            | 41             | 107
195.out         | outputs-astar-15 | 0           | 1e+09        | 1e+09 | outputs-dijsktra-greedy | 0.04          | 1e+09          | 1e+09
2.out           | outputs-astar-15 | 40          | 1            | 41    | outputs-dijsktra-greedy | 40            | 11             | 51
216.out         | outputs-astar-15 | 4           | 4            | 8     | outputs-dijsktra-greedy | 6             | 7              | 13
217.out         | outputs-astar-15 | 4           | 4            | 8     | outputs-dijsktra-greedy | 6             | 7              | 13
218.out         | outputs-astar-15 | 4           | 4            | 8     | outputs-dijsktra-greedy | 6             | 6              | 12
251.out         | outputs-astar-15 | 12          | 23           | 35    | outputs-dijsktra-greedy | 12            | 28             | 40
259.out         | outputs-astar-15 | 5605        | 5            | 5610  | outputs-dijsktra-greedy | 6404          | 806            | 7210
270.out         | outputs-astar-15 | 15          | 20           | 35    | outputs-dijsktra-greedy | 44            | 12             | 56
271.out         | outputs-astar-15 | 68          | 3            | 71    | outputs-dijsktra-greedy | 68            | 3              | 71
... (27 rows omitted)

In [64]:
appended = costs_1.copy().append(costs_2).sort('output_filename')
appended

output_dir              | output_filename | travel_cost | conquer_cost | cost
outputs-astar-15        | 0.out           | 16          | 51           | 67
outputs-dijsktra-greedy | 0.out           | 66          | 41           | 107
outputs-dijsktra-greedy | 1.out           | 194         | 52           | 246
outputs-dijsktra-greedy | 10.out          | 305.62      | 351.85       | 657.47
outputs-dijsktra-greedy | 100.out         | 403864      | 27704        | 431568
outputs-dijsktra-greedy | 101.out         | 324         | 1            | 325
outputs-dijsktra-greedy | 105.out         | 2.41584e+07 | 1.48975e+07  | 3.90559e+07
outputs-dijsktra-greedy | 106.out         | 4.46618e+07 | 2.97175e+07  | 7.43793e+07
outputs-dijsktra-greedy | 107.out         | 1.23333e+07 | 6.44751e+06  | 1.87808e+07
outputs-dijsktra-greedy | 108.out         | 13308.1     | 3376.05      | 16684.2
... (731 rows omitted)

In [65]:
with_min = appended.group('output_filename', min).select(['output_filename', 'cost min'])
with_min

output_filename | cost min
0.out           | 67
1.out           | 246
10.out          | 657.47
100.out         | 431568
101.out         | 325
105.out         | 3.90559e+07
106.out         | 7.43793e+07
107.out         | 1.87808e+07
108.out         | 16684.2
109.out         | 12680.5
... (694 rows omitted)

In [66]:
min_output_selected = appended.join('output_filename', with_min).where('cost', are.equal_to, 'cost min').drop('cost min')
min_output_selected

output_filename | output_dir              | travel_cost | conquer_cost | cost
0.out           | outputs-astar-15        | 16          | 51           | 67
1.out           | outputs-dijsktra-greedy | 194         | 52           | 246
10.out          | outputs-dijsktra-greedy | 305.62      | 351.85       | 657.47
100.out         | outputs-dijsktra-greedy | 403864      | 27704        | 431568
101.out         | outputs-dijsktra-greedy | 324         | 1            | 325
105.out         | outputs-dijsktra-greedy | 2.41584e+07 | 1.48975e+07  | 3.90559e+07
106.out         | outputs-dijsktra-greedy | 4.46618e+07 | 2.97175e+07  | 7.43793e+07
107.out         | outputs-dijsktra-greedy | 1.23333e+07 | 6.44751e+06  | 1.87808e+07
108.out         | outputs-dijsktra-greedy | 13308.1     | 3376.05      | 16684.2
109.out         | outputs-dijsktra-greedy | 10799.8     | 1880.66      | 12680.5
... (703 rows omitted)

In [67]:
# To implement: select files from min_out_selected and copy into a new folder